.game {
    display: flex;
    margin: 16px auto;
    justify-content: space-around;
    height: 100%;
    max-width: 1300px;
    align-items: center;
}

.statistics {
    margin: 24px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {

}

.restart {
    background-color: bisque;
    margin: 16px;
    color: darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px;
}